<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="container-fluid mb-12 carrusel">
            <div class="row border-top px-xl-12">
                <div class="col-lg-12">
                    <div id="header-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {{#if fotosBoutique}}
                            {{#each fotosBoutique}}
                            <div class="carousel-item {{#if @first}}active{{/if}}" style="height: 450px;">
                                <img class="img-fluid" src="{{href}}" alt="Image">
                                <div
                                    class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                    <div class="p-3" style="max-width: 700px;">
                                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">Vestidos
                                            Personalizados
                                        </h3>
                                        <a href="" class="btn btn-light py-2 px-3">Comprar Ahora</a>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            {{else}}
                            {{/if}}
                        </div>
                        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                <span class="carousel-control-prev-icon mb-n2"></span>
                            </div>
                        </a>
                        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                <span class="carousel-control-next-icon mb-n2"></span>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- Products Start -->
        <div class="container-fluid pt-5">
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Productos mas vendidos</span></h2>
            </div>
            <div class="row px-xl-5 pb-3">
                {{#if productos}}
                {{#each productos}}
                <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div
                            class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="{{Fotografia}}" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate mb-3">{{Nombre}}</h6>
                            <div class="d-flex justify-content-center">
                                <h6>${{Precio}}</h6>
                                <h6 class="text-muted ml-2"><del>$${{Precio}}</del></h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a href="/detail/{{PKProducto}}" class="btn btn-sm text-dark p-0"><i
                                    class="fas fa-eye text-primary mr-1"></i>Ver
                                detalle</a>

                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                {{/if}}
            </div>
        </div>
        <!-- Products End -->
</body>

</html>